# === BANCO DE DADOS ===
DATABASE_URL=
DIRECT_URL=

# === NEXTAUTH ===
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_URL_SECRET=

# === WHATSAPP (UltraMsg) ===
WHATSAPP_INSTANCE_ID=
WHATSAPP_TOKEN=
WHATSAPP_TO=

# === STORAGE (Vercel Blob) ===
BLOB_READ_WRITE_TOKEN=

# === EMAIL (opcional) ===
NEXT_PUBLIC_EMAILJS_SERVICE_ID=
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=
